# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env

# Ignore virtual environment folders
venv/
env/

# Ignore logs
*.log

# Ignore system files (macOS, Windows)
.DS_Store
Thumbs.db
financial_data.db